
@import "./variables";

.headshot{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 0px 2%;
    border: 3px solid black;
    border-radius: 1.5rem;
}

.grid-image{
    border-radius: 1.5rem;
    height: 280px;
    width: 280px;
    object-fit: cover;
    border: 3px solid black;
}

.grid-image-container{
    height: 280px;
    width: 280px;
    object-fit: cover;
    // border: 3px solid black;
}

.grid-overlay-shadow {
    width: 100%;
    height: 25%;
    position: absolute;
    background-color: black;
    // color: white;
    opacity: 50%;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1.5rem 1.5rem;
}

.grid-overlay-text {
    color: white;
    opacity: 100%;
}

.grid-container {
    padding: 3rem 0 3rem 0;
}

.homepage-grid-container {
    padding: 0 0 2rem 0;
}

#bioAndLinks p {
    font-size: 20px;
}

.bio-container {
    padding-bottom: 3rem;
}

